<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dda9cc">  <td>23/01/27 18:03:56</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.test1()[pri:0, instance:testForListener.Test1@59474f18]">test1</td> 
  <td>main@1995265320</td>   <td></td> </tr>
<tr bgcolor="9ee3a2">  <td>23/01/27 18:03:55</td>   <td>-129</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.beforeTest()[pri:0, instance:testForListener.Test1@59474f18]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1995265320</td>   <td></td> </tr>
<tr bgcolor="9ee3a2">  <td>23/01/27 18:03:56</td>   <td>161</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.afterMethod()[pri:0, instance:testForListener.Test1@59474f18]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1995265320</td>   <td></td> </tr>
<tr bgcolor="9ee3a2">  <td>23/01/27 18:03:56</td>   <td>171</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.afterClass()[pri:0, instance:testForListener.Test1@59474f18]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1995265320</td>   <td></td> </tr>
<tr bgcolor="9ee3a2">  <td>23/01/27 18:03:55</td>   <td>-80</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.beforeClass()[pri:0, instance:testForListener.Test1@59474f18]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1995265320</td>   <td></td> </tr>
<tr bgcolor="9ee3a2">  <td>23/01/27 18:03:56</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.beforeMethod()[pri:0, instance:testForListener.Test1@59474f18]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1995265320</td>   <td></td> </tr>
<tr bgcolor="9ee3a2">  <td>23/01/27 18:03:56</td>   <td>182</td> <td>&nbsp;</td><td title="&lt;&lt;BaseClass.afterTest()[pri:0, instance:testForListener.Test1@59474f18]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1995265320</td>   <td></td> </tr>
<tr bgcolor="9ee3a2">  <td>23/01/27 18:03:56</td>   <td>686</td> <td title="&lt;&lt;BaseClass.afterSuite()[pri:0, instance:testForListener.Test1@59474f18]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1995265320</td>   <td></td> </tr>
<tr bgcolor="9ee3a2">  <td>23/01/27 18:03:55</td>   <td>-179</td> <td title="&gt;&gt;BaseClass.beforeSuite()[pri:0, instance:testForListener.Test1@59474f18]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1995265320</td>   <td></td> </tr>
</table>
